{% extends 'base.html.twig' %}

{% block title %}Hello CHAT GPT!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello User ✅</h1>

    <form method="get">
        <input name="question" value="who are you?" />
        <button type="submit">Ask GPT</button>
    </form>

    {% if null != question %}
        <div>
            {{ answer }}
        </div>
    {% endif %}
</div>
{% endblock %}
